@font-face {
    font-family: "NotoSans";
    src: url("/assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSans";
    src: url("/assets/fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
code {
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
}
.content {
    margin-top: 0;
    margin-bottom: 0;
}
.content header {
    margin: 0;
}
.content header h1.title {
    font-size: 3.2rem;
}

.navigation {
    margin-top: 1rem;
}

.navigation .navigation-title {
    text-transform: uppercase;
    font-family: "NotoSans";
}

.navigation .navigation-item {
    text-transform: uppercase;
}

.avatar img {
    transition: .2s;
}
.avatar img:hover, .avatar img:active, .avatar img:focus {
    transform: scale(1.1);
}

@media screen and (max-width:1150px) {
    .avatar img {
        width: 25rem;
    }
    .wrapper {
        min-height: 85vh;
    }
}
