@font-face {
    font-family: "NotoSans";
    src: url("/assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSans";
    src: url("/assets/fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}

.navigation .navigation-title {
    text-transform: uppercase;
    font-family: "NotoSans";
}

.navigation .navigation-item {
    text-transform: uppercase;
}

.avatar img {
    transition: .2s;
}
.avatar img:hover, .avatar img:active, .avatar img:focus {
    transform: scale(1.1);
}

@media screen and (max-width:1150px) {
    .wrapper {
        min-height: 85vh;
    }
}